/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
  }

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]::after {
      content: " (" attr(href) ")";
  }

  abbr[title]::after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
      content: "";
  }

  pre {
      white-space: pre-wrap !important;
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
      display: table-header-group;
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}

/*
* --------------------------Portfolio Styling---------------------------------
*/

/* || Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

/*
* ---------Light Styles---------
*/

/* || General Styles */

:root {
  /* colors */
    --black: #000000;
    --white: #FFFFFF;
    --deep-space-sparkle: #335C67;
    --medium-champagne: #FFF3B0;
    --indian-yellow: #E09F3E;
    --auburn: #9E2A2B;
    --rosewood: #540B0E;
}

body {
    margin: auto;
    color: var(--deep-space-sparkle);
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

p {
    font-size: 1.2rem;
}

/* || Header and Main Content */

main {
    position: fixed;
    width: 100%;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.3s ease 0s;
    background-color: var(--black);
    height: 2rem;
}

.day-toggle {
    position: absolute;
    right: -5%;
}

.day-toggle.live {
    top: 2.5rem;
    right: 2%;
    padding: .4rem;
    border-radius: 100%;
    background-color: var(--deep-space-sparkle);
    z-index: 1;
    transition:
        right 0.5s linear 0.5s,
        transform 0.3s ease;
}

.day-toggle:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.day-toggle .dark-mode {
    display: none;
}

.home {
    background-color: var(--white);
    border-radius: 10px 10px 0 0;
    padding: 1rem;
}

.home h1 {
    transition: all 0.3s;
}

.home .menu {
    display: none;
    transition: display 0.3s linear 0.5s;
}

.home.closed {
    position: fixed;
    cursor: pointer;
    width: 100%;
}

.home.closed h1 {
    display: none;
    transition: all 0.5s;
}

.home.closed span:before {
    content: 'Home';
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
}

.block {
    position: fixed;
    width: 100%;
    height: 1px;
    top: 100%;
    transition:
        height 0.7s ease,
        top 0.7s ease;
}

.block header.closer {
    cursor: pointer;
}

.block h1 {
    color: var(--white);
}

.block.expand {
    margin-top: 3.8rem;
    top: 0;
    height: 90vh;
    overflow: scroll;
    border-radius: 10px 10px 0 0;
}

.block-container-two {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    background-color: var(--auburn);
}

.half-width-block {
  background-color: var(--white);
  position: relative;
  flex-basis: calc(25% - 10px);
  margin-bottom: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 50vh;
}

.half-width-block::before {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1E1E1E;
}

    /* Projects */

.one-third-grid {
  background-color: var(--white);
}

/* || Navigation */

nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--white);
    background: linear-gradient(
        var(--white) 20%,
        var(--auburn) 20% 40%,
        var(--deep-space-sparkle) 40% 60%,
        var(--white) 60% 80%);
    transition: background 0.6s ease;
}

nav.auburn-selected {
    background: linear-gradient(
        var(--auburn) 20%,
        var(--deep-space-sparkle) 20% 40%,
        var(--white) 40% 60%,
        var(--white) 60% 80%);
}

nav.ds-sparkle-selected {
    background: linear-gradient(
        var(--deep-space-sparkle) 20%,
        var(--auburn) 20% 40%,
        var(--auburn) 40% 60%,
        var(--white) 60% 80%);
}

nav.i-yellow-selected {
    background: linear-gradient(
        var(--indian-yellow) 20%,
        var(--auburn) 20% 40%,
        var(--deep-space-sparkle) 40% 60%,
        var(--white) 60% 80%);
}

.navitem {
    max-width: 100%;
    position: relative;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    color: var(--deep-space-sparkle);
    transition: padding-bottom 0.3s ease;
    transition: font-size 0.3s ease;
}

.navitem:hover {
    padding-bottom: 2rem;
    font-size: 150%;
}

.navitem span {
    color: var(--white);
    font-size: 120%;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.auburn {
    background-color: var(--auburn);
}

.deep-space-sparkle {
    background-color: var(--deep-space-sparkle);
}

.indian-yellow {
    background-color: var(--indian-yellow);
}

.selected {
    display: none;
}

/* || Footer */

.white {
    background-color: var(--white);
}

.navitem.white {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-size: 90%;
}

.navitem.white:hover {
    padding-bottom: 8px;
    cursor: default;
}

.footer-nav {
    color: var(--black);
    text-transform: none;
    letter-spacing: 1px;
}

.footer-nav span.date {
    color: var(--black);
    text-transform: none;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 90%;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav a:visited {
    color: var(--black);
}

.footer-nav a:hover {
    color: var(--deep-space-sparkle);
}

.negative {
    background-color: var(--black);
    color: var(--white);
    font-weight: normal;
    padding: 8px;
    border-radius: 6px;
}

.negative:hover {
    background-color: var(--deep-space-sparkle);
    color: var(--black);
}

.negative a:visited {
    color: var(--white);
}

/*
* ---------Dark Styles---------
*/

/* || General Styles */
.dark {
    transition: background-color 0.5s ease;
}

body.dark {
    color: var(--indian-yellow);
    background-color: var(--black);
}

/* || Header and Main Content */

.dark .day-toggle {
    background-color: var(--rosewood);
}

.dark .day-toggle .dark-mode {
    display: block;
}

.dark .day-toggle .light-mode {
    display: none;
}

/* || Footer and Navigation */

.dark nav {
    background: linear-gradient(
        var(--black) 20%,
        var(--auburn) 20% 40%,
        var(--deep-space-sparkle) 40% 60%,
        var(--black) 60% 80%);
}

.dark .navitem {
    padding: 14px;
    padding-bottom: 16px;
}

.dark .navitem:hover {
    padding-top: 1rem;
    padding-bottom: 1.4375rem;
}

.dark .auburn {
    transition: background-color 0.5s ease;
    background-color: var(--black);
    border: 3px var(--auburn) solid;
    border-bottom: none;
    color: var(--auburn);
}

.dark .deep-space-sparkle {
    transition: background-color 0.5s ease;
    background-color: var(--black);
    border: 3px var(--deep-space-sparkle) solid;
    border-bottom: none;
    color: var(--deep-space-sparkle);
}

.dark .indian-yellow {
    transition: background-color 0.5s ease;
    background-color: var(--black);
    border: 3px var(--indian-yellow) solid;
    border-bottom: 3px var(--white) solid;
    color: var(--indian-yellow);
}

.dark .white {
    background-color: var(--black);
    padding: 7px;
    padding-top: 5px;
}

.dark .white:hover {
    padding: 5px;
    padding-bottom: 7px;
}

.dark .footer-nav {
    color: var(--white);
}

.dark .footer-nav span.date {
    color: var(--black);
    text-transform: none;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 90%;
}

.dark .footer-nav a {
    color: var(--white);
}

.dark .footer-nav a:hover {
    color: var(--auburn);
}

.dark .negative {
    background-color: var(--white);
    color: var(--black);
}

.dark .negative:hover {
    background-color: var(--auburn);
    color: var(--white);
}

.dark .negative a:hover {
    color: var(--white);
}

.dark .negative a:visited {
    background-color: var(--white);
    color: var(--black);
}

.dark .expand {
    top: 0;
    height: 100%;
    width: 97.4%;
    border: 6px solid;
    border-radius: 0;
}
