/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --auburn: rgb(165, 36, 34);
    --blue-sapphire: rgb(0, 110, 144);
    --aqua: rgb(61, 250, 255);
    --bitter-lemon: rgb(194, 232, 18);
    --space-cadet: rgb(43, 45, 66);
    --platinum: rgb(169, 178, 172);
    --selective-yellow: rgb(255, 186, 8);
    --fiery-rose: rgb(252, 100, 113);
    --color: ;
}

::selection {
    background-color: var(--aqua);
}

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: var(--color);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

body a {
    color: var(--color);
}

h1 {
    font-size: 4.5rem;
    font-weight: 400;
}

/* header */

nav {
    position: fixed;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    border: 1px solid var(--color);
    border-top: none;
    opacity: 0.8;
    z-index: 10;
}

nav a {
    color: var(--color);
    text-decoration: none;
}

nav a:hover {
    transform: scale(1.4);
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
}

/* all sections */

.section-container {
    scroll-snap-type: y mandatory;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    overflow: auto;
    scroll-snap-align: start;
}

section h1 {
    padding-top: 3rem;
    margin-bottom: 0;
}

/* hero */

.hero-container {
    height: 18rem;
    width: 10rem;
    margin: auto;
}

.home-about {
    background-color: var(--white);
}

.home-about h2 {
    position: absolute;
    font-size: 1000%;
    opacity: 0.2;
}

.hero-object {
    margin: auto;
    margin-top: 5vh;
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    border: 1px var(--color) solid;
    transition: transform 2s ease;
}

.hero-container:hover .hero-object {
    border-color: var(--bitter-lemon);
}

.fade-in .hero-object {
    background: url('img/my-photo-BW.png') no-repeat center/100%;
}

.hero {
    position: absolute;
    top: 38vh;
    left: 30%;
    padding-left: 1rem;
    color: var(--color);
}

.hero:hover {
    color: var(--bitter-lemon);
    background-color: rgba(0, 0, 0, 0.5);
}

.hero h1 {
    padding-top: 0;
    margin-top: 0;
}

.hero p {
    opacity: 0;
    width: 80%;
}

.fade-in p {
    opacity: 1.5;
    transition: opacity 1s;
}

/* work */

section#work {
    background-color: var(--space-cadet);
}

.work-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5vw;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-weight: 400;
}

.work-container a {
    text-decoration: none;
}

.work-object {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: 1px var(--color) solid;
    direction: rtl;
    transition: transform 0.8s;
    z-index: 1;
}

.work-object:hover {
    transform: scale(1.3);
    color: var(--selective-yellow);
    border-color: var(--selective-yellow);
}

.work-object span {
    color: var(--selective-yellow);
    opacity: 0.5;
}

.work-object:hover span {
    color: var(--auburn);
}

.work-object p {
    margin-top: 0.2rem;
}

a .work-object {
    color: var(--color);
}

.work-object p.descrip {
    display: none;
    width: 18vw;
    padding-left: 2rem;
    padding-right: 2rem;
    direction: ltr;
    font-size: 0.9rem;
    background-color: rgba(43, 45, 66, 0.8);
}

.work-object:hover p.descrip {
    display: inline-block;
}

.work-object.one:hover {
    cursor: pointer;
    background: url('img/cooper-creek-image.png') no-repeat center/100%;
}

.work-object.two:hover {
    background: url('img/WWNN-image.png') no-repeat center/100%;
}

.work-object.three:hover {
    background: url('img/families-image-light.png') no-repeat center/100%;
}

.work-object.four:hover {
    background: url('img/kafka-image.png') no-repeat center/100%;
}

.work-object.five:hover {
    background: url('img/jobs-image.png') no-repeat center/100%;
}

.work-object.six:hover {
    background: url('img/day-zero-image.png') no-repeat center/100%;
}

.work-object.seven:hover {
    background: url('img/water-image.png') no-repeat center/100%;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 90vh;
    overflow: auto;
    padding: 5rem;
    background-color: var(--black);
    color: var(--white);
    overflow: scroll;
}

.lightbox .contact-link {
    color: var(--selective-yellow);
    cursor: pointer;
}

.lightbox .contact-link:hover {
    color: var(--auburn);
}

.close {
    position: sticky;
    top: 3rem;
    left: 85vw;
    color: var(--selective-yellow);
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--auburn);
    text-decoration: none;
    cursor: pointer;
}

.page {
    position: relative;
    margin: auto;
    width: 75%;
    max-width: 100rem;
    background-color: var(--white);
    color: var(--black);
    padding: 5rem;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.page p {
    margin: 0;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2rem;
}

.page p:nth-of-type(2) {
    margin-bottom: 3rem;
}

.center {
    text-align: center;
}

h1.center {
    font-variant: small-caps;
    margin-top: 0;
}

p.epigraph {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    line-height: 1.3rem;
}

/* contact */
section#contact {
    height: calc(100vh - 3.25rem);
    background-color: var(--platinum);
}

section#contact h1 {
    text-align: center;
}

label {
    font-size: 2rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--platinum);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--blue-sapphire);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--blue-sapphire);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--fiery-rose) inset !important;
}

input:focus-visible,
textarea:focus-visible {
    outline: 3px solid var(--blue-sapphire);
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

input:focus,
textarea:focus {
    background-color: var(--fiery-rose);
}

textarea {
    height: 10rem;
}

.container {
    border-radius: 5px;
    background-color: var(--platinum);
    padding: 20px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    bottom: 0;
    padding: 0.5rem;
    background-color: var(--platinum);
    font-size: 0.9rem;
    border-top: 1px solid var(--color);
}

footer div {
    color: var(--color);
    text-decoration: none;
    margin-left: 10vw;
    margin-right: 10vw;
}

footer a,
footer a:hover,
footer a:visited {
    color: var(--color);
}

.dev-footer {
    color: var(--color);
    padding: 0.5rem 1rem 0.3rem;
    border: 1px var(--color) solid;
}

.dev-footer:hover {
    background-color: var(--color);
    color: var(--white);
}

.dev-footer a:hover {
    color: var(--white);
}

.dev-footer a:visited:hover {
  color: var(--white);
  background-color: var(--color);
}

.dev-footer a,
.dev-footer a:visited {
    color: var(--color);
    text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1550px) {
    .descrip {
        width: 20vw;
    }
}

@media only screen and (max-width: 821px) {
    nav ul {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    section h1 {
        padding-top: 6rem;
    }
    .hero-object {
        margin-left: -45vw;
    }
    .hero {
        left: 5%;
    }
    .hero p {
        width: 90%;
    }
}

@media only screen and (max-width: 836px) {
    .work-object h2 {
        width: inherit;
    }
}

@media only screen and (max-width: 600px) {
    .work-container {
        justify-content: center;
    }
    .work-object {
        width: 50vw;
        margin-bottom: 10vh;
    }
    .work-object h2 {
        width: 30vh;
    }
    .work-object p.descrip {
      display: inline-block;
      width: 58vw;
    }

    .work-object.one {
        cursor: pointer;
        background: url('img/cooper-creek-image.png') no-repeat center/100%;
    }

    .work-object.two {
        background: url('img/WWNN-image.png') no-repeat center/100%;
    }

    .work-object.three {
        background: url('img/families-image-light.png') no-repeat center/100%;
    }

    .work-object.four {
        background: url('img/kafka-image.png') no-repeat center/100%;
    }

    .work-object.five {
        background: url('img/jobs-image.png') no-repeat center/100%;
    }

    .work-object.six {
        background: url('img/day-zero-image.png') no-repeat center/100%;
    }

    .work-object.seven {
        background: url('img/water-image.png') no-repeat center/100%;
    }
  }

/* ANIMATIONS */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flowfromtop {
    0%   {top: -50vh;}
    100% {top: 0vh;}
}
