/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --auburn: rgb(165, 36, 34);
    --blue-sapphire: rgb(0, 110, 144);
    --aqua: rgb(61, 250, 255);
    --bitter-lemon: rgb(194, 232, 18);
    --space-cadet: rgb(43, 45, 66);
    --platinum: rgb(222, 229, 229);
    --color: ;
}

::selection {
    background-color: var(--bitter-lemon);
}

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: var(--color);
    background-color: var(--platinum);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

body a {
    color: var(--color);
}

h1 {
    font-size: 4.5rem;
    font-weight: 400;
}

/* header */

nav {
    position: fixed;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    border: 1px solid var(--color);
    border-top: none;
    z-index: 10;
}

nav a {
    color: var(--color);
    text-decoration: none;
}

nav a:hover {
    opacity: 0.5;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
}

.nav-item:active,
.nav-item:hover {
    border-left: 1px solid var(--color);
    border-right: 1px solid var(--color);
}

/* all sections */

.section-container {
    scroll-snap-type: y mandatory;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    overflow: auto;
    scroll-snap-align: start;
}

section h1 {
    padding-top: 3rem;
    margin-bottom: 0;
}

/* hero */

.hero-container {
    height: 18rem;
    width: 10rem;
    margin: auto;
}

.home-about{
    background-color: var(--white);
}

.hero-object {
    margin: auto;
    margin-top: 5vh;
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    border: 1px var(--color) solid;
    transition: transform 2s ease;
}

.fade-in .hero-object {
    background: url('/Users/jsherwood/Documents/js-portfolio-site/img/my-photo-BW.png') no-repeat center/100%;
}

.hero {
    position: absolute;
    top: 38vh;
    left: 30%;
    color: var(--color);
}

.hero h1 {
    padding-top: 0;
    margin-top: 0;
}

.hero p {
    opacity: 0;
    width: 80%;
}

.fade-in p {
    opacity: 1.5;
    transition: opacity 1s;
}

/* work */

section#work {
    background-color: var(--space-cadet);
}

.work-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5vw;
    margin-top: 2rem;
    font-weight: 400;
    height: 35vh;
}

.work-container a {
    text-decoration: none;
}

.work-object {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: 1px var(--color) solid;
    direction: rtl;
    transition: transform 0.8s;
}

.work-object:hover {
    transform: scale(1.3);
}

.work-object h2 {
    width: 30vh;
    margin-top: -5px;
    margin-bottom: 0;
}

.work-object p {
    margin-top: 0.2rem;
}

a .work-object {
    color: var(--color);
}

.work-object p.descrip {
    display: none;
    width: 18vw;
    padding-left: 2rem;
    padding-right: 2rem;
    direction: ltr;
    font-size: 0.9rem;
    background-color: rgba(43, 45, 66, 0.8);
}

.work-object:hover p.descrip {
    display: inline-block;
}

.work-object.one:hover {
    background: url('/Users/jsherwood/Documents/js-portfolio-site/img/families-image-light.png') no-repeat center/100%;
}

.work-object.two:hover {
    background: url('/Users/jsherwood/Documents/js-portfolio-site/img/WWNN-image.png') no-repeat center/100%;
}

.work-object.three:hover {
    background: url('/Users/jsherwood/Documents/js-portfolio-site/img/kafka-image.png') no-repeat center/100%;
}

.work-object.four:hover {
    background: url('/Users/jsherwood/Documents/js-portfolio-site/img/jobs-image.png') no-repeat center/100%;
}

/* contact */
section#contact {
    height: 95vh;
    background-color: var(--platinum);
}

section#contact h1 {
    text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--platinum);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--blue-sapphire);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--blue-sapphire);
}

.container {
  border-radius: 5px;
  background-color: var(--platinum);
  padding: 20px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    bottom: 0;
    padding: 0.5rem;
    background-color: var(--platinum);
    font-size: 0.9rem;
    border: 1px solid var(--color);
    border-bottom: none;
}

footer div {
    color: var(--color);
    text-decoration: none;
    margin-left: 10vw;
    margin-right: 10vw;
}

footer a,
footer a:hover,
footer a:visited {
    color: var(--color);
}

.dev-footer {
    color: var(--color);
    padding: 0.5rem 1rem 0.3rem;
    border: 1px var(--color) solid;
}

.dev-footer:hover {
    background-color: var(--color);
    color: var(--white);
}

.dev-footer a:hover {
    color: var(--white);
}

.dev-footer a:visited:hover {
  color: var(--white);
  background-color: var(--color);
}

.dev-footer a,
.dev-footer a:visited {
    color: var(--color);
    text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1550px) {
    .descrip {
        width: 20vw;
    }
}

@media only screen and (max-width: 821px) {
    nav ul {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    section h1 {
        padding-top: 6rem;
    }
    .hero {
        left: 5%;
    }
    .hero p {
        width: 90%;
    }
}

@media only screen and (max-width: 836px) {
    .work-object h2 {
        width: inherit;
    }
}

@media only screen and (max-width: 448px) {
    .work-object h2 {
        width: 30vh;
    }
}

/* ANIMATIONS */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flowfromtop {
    0%   {top: -50vh;}
    100% {top: 0vh;}
}
