/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General styles */

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --light-gray: rgb(243, 243, 243);
    --deep-space-sparkle: rgb(51, 92, 103);
    --l-deep-space-sparkle: rgb(93, 125, 134);
    --medium-champagne: rgb(255, 243, 176);
    --indian-yellow: rgb(224, 159, 62);
    --l-indian-yellow: rgb(239, 202, 151);
    --auburn: rgb(158, 42, 43);
    --l-auburn: rgb(179, 88, 86);
    --rosewood: rgb(84, 11, 14);
}

body {
    margin: auto;
    color: var(--black);
    background-color: var(--white);
    font-family: 'Raleway', sans-serif;
}

::selection {
    background-color: var(--medium-champagne);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    padding-bottom: 1rem;
}

/* Header */

main {
    position: fixed;
    width: 100%;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--black);
    height: 1vh;
}

.day-toggle {
    position: fixed;
    right: -5%;
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.8);
}

.day-toggle.live {
    top: 2.5rem;
    right: 2%;
    padding: .4rem;
    border-radius: 100%;
    background-color: var(--deep-space-sparkle);
    z-index: 1;
    transition:
        right 0.5s linear 0.5s,
        transform 0.3s ease;
}

.day-toggle:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.day-toggle .dark-mode {
    display: none;
}

/* Home content */

.home {
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    border: 3.3rem solid var(--light-gray);
    height: 80vh;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.home header {
    flex-grow: 2;
}

.home-button-container {
    flex-grow: 1;
    margin-top: 10%;
}

.home-button {
    max-width: 5rem;
    letter-spacing: 1px;
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.8);
    z-index: 10;
    transition: transform 0.3s ease;
}

.home-button:hover {
    transform: scale(1.1);
}

.home-button-container a,
.home-button-container a:hover,
.home-button-container a:visited {
    color: var(--white);
    text-decoration: none;
}

.home-button.auburn {
    background-color: var(--auburn);
}

.home-button.deep-space-sparkle {
    background-color: var(--deep-space-sparkle);
}

.home-button.indian-yellow {
    background-color: var(--indian-yellow);
}

.home * {
    opacity: 1;
    transition: opacity 1s;
}

.home h1  {
    text-align: left;
    font-size: 5vw;
}

.home h1:first-of-type {
    padding-left: 1%;
}

.home h1:nth-of-type(2) {
    padding-left: 6%;
}

.home h1:nth-of-type(3) {
    padding-left: 16%;
}

.home h1:nth-of-type(4) {
    padding-left: 26%;
}

.home.closed {
    cursor: pointer;
}

.home span {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 2.6vh;
    left: 48%;
}

    /* lines under header text */

.line {
    border: none;
    height: 6px;
    margin: 0;
    width: 0%;
    transition: width 1s ease;
}

.line.auburn.grow {
    width: 25%;
}

.line.deep-space-sparkle.grow {
    width: 56%;
}

.line.indian-yellow.grow {
    width: 68%;
}

.line.medium-champagne.grow {
    width: 79%;
}

    /* line block home */

.line-block {
    position: fixed;
    float: right;
    width: 50%;
    top: 17rem;
    margin-left: 48%;
    z-index: -1;
}

.line.angle.grow {
    opacity: 0.7;
    float: right;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
}

.line.auburn.angle.grow {
    background:
        -webkit-gradient(
              linear, 0 0, 100% 0,
              from(transparent),
              to(transparent),
              color-stop(50%, var(--auburn)));
    transform: rotate(45deg);
}

.line.deep-space-sparkle.grow.angle.grow {
    background:
    -webkit-gradient(
          linear, 0 0, 100% 0,
          from(transparent),
          to(transparent),
          color-stop(50%, var(--deep-space-sparkle)));
    transform: rotate(-45deg);
}

.line.indian-yellow.grow.angle.grow {
    background:
    -webkit-gradient(
          linear, 0 0, 100% 0,
          from(transparent),
          to(transparent),
          color-stop(50%, var(--indian-yellow)));
    transform: rotate(25deg);
}

.line.medium-champagne.grow.angle.grow {
    background:
    -webkit-gradient(
          linear, 0 0, 100% 0,
          from(transparent),
          to(transparent),
          color-stop(50%, var(--medium-champagne)));
    transform: rotate(65deg);
}

    /* end line block home */

.home.closed span {
    visibility: visible;
    opacity: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--deep-space-sparkle);
    line-height: 1;
    transition: transform 0.2s ease;
}

.home.closed span:hover {
    transform: scale(1.1);
}

/* All blocks  */

.block {
    position: fixed;
    overflow: scroll;
    width: 100%;
    height: 1px;
    top: 100%;
    transition:
        height 0.7s ease,
        top 0.7s ease;
}

.block header.closer {
    cursor: pointer;
    position: sticky;
}

.block h1 {
    color: var(--white);
}

.block.expand {
    margin-top: 3.8rem;
    top: 0;
    height: 90vh;
    overflow: scroll;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.8);
}

header.closer {
    padding-bottom: 0.5rem;
}

.auburn header.closer {
  background-color: var(--auburn);
}

.deep-space-sparkle header.closer {
  background-color: var(--deep-space-sparkle);
}

.indian-yellow header.closer {
  background-color: var(--indian-yellow);
}

/* CV Block */

.block-container-two {
    margin: 2rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    overflow: scroll;
}

.block-container-two img {
    width: 20%;
    border-radius: 100%;
}

.half-width-block {
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    position: relative;
    flex-basis: calc(25% - 10px);
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.half-width-block header {
    margin-bottom: 1rem;
}

.half-width-block p,
.half-width-block li {
    text-align: left;
}

.half-width-block ul {
    list-style-type: none;
    padding-left: 0;
}

.half-width-block li {
    display: inline-block;
    margin: 1rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
}

.half-width-block p {
    margin: 1rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
}

/* Projects */
.block-container-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1vw;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    color: var(--white);
}

.one-third-grid {
    background-color: var(--white);
    height: 29vw;
    flex-grow: 1;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.one-third-grid:hover {
    transform: scale(1.2);
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.8);
}

.shadow-grid {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.one-third-grid.simons {
    background-image: url('/Users/jsherwood/Documents/js-portfolio-site/img/simons.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contact */

.full-width-block {
    background-color: var(--l-indian-yellow);
}

/* || Navigation */

nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--white);
    background: linear-gradient(
        var(--light-gray) 20%,
        var(--auburn) 20% 40%,
        var(--deep-space-sparkle) 40% 60%,
        var(--white) 60% 80%);
    transition: background 0.6s ease;
}

nav.auburn-selected {
    background: linear-gradient(
        var(--auburn) 20%,
        var(--deep-space-sparkle) 20% 40%,
        var(--white) 40% 60%,
        var(--white) 60% 80%);
}

nav.ds-sparkle-selected {
    background: linear-gradient(
        var(--deep-space-sparkle) 20%,
        var(--auburn) 20% 40%,
        var(--auburn) 40% 60%,
        var(--white) 60% 80%);
}

nav.i-yellow-selected {
    background: linear-gradient(
        var(--indian-yellow) 20%,
        var(--auburn) 20% 40%,
        var(--deep-space-sparkle) 40% 60%,
        var(--white) 60% 80%);
}

.navitem {
    max-width: 100%;
    position: relative;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    color: var(--deep-space-sparkle);
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.8);
    transition: padding-bottom 0.3s ease;
    transition: font-size 0.3s ease;
}

.navitem:hover {
    padding-bottom: 2rem;
    font-size: 150%;
}

.navitem span {
    color: var(--white);
    font-size: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.auburn {
    background-color: var(--l-auburn);
}

.deep-space-sparkle {
    background-color: var(--l-deep-space-sparkle);
}

.indian-yellow {
    background-color: var(--l-indian-yellow);
}

.navitem.auburn {
    background-color: var(--auburn);
}

.medium-champagne {
    background-color: var(--medium-champagne);
}

.navitem.deep-space-sparkle {
  background-color: var(--deep-space-sparkle);
}

.navitem.indian-yellow {
  background-color: var(--indian-yellow);
}

.selected {
    display: none;
}

/* || Footer */

.white {
    background-color: var(--white);
}

.navitem.white {
    width: 99%;
    display: inline-flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-size: 90%;
}

.navitem.white:hover {
    padding-bottom: 8px;
    cursor: default;
}

.footer-nav {
    color: var(--black);
    text-transform: none;
    letter-spacing: 1px;
}

.footer-nav span.date {
    color: var(--black);
    text-transform: none;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 90%;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav a:visited {
    color: var(--black);
}

.footer-nav a:hover {
    color: var(--deep-space-sparkle);
}

.negative {
    background-color: var(--black);
    color: var(--white);
    font-weight: normal;
    padding: 8px;
    border-radius: 6px;
}

.negative:hover {
    background-color: var(--deep-space-sparkle);
    color: var(--black);
}

.negative a,
.negative a:hover,
.negative a:visited {
    color: var(--white);
}

/* Media Queries */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .home {
        border: 4.3vw solid var(--light-gray);
    }
    .home-button-container {
        display: none;
    }
    .line-block {
        top: 12rem;
        margin-left: 30%;
    }
}

@media screen and (max-width: 640px) {
    .line-block {
        top: 18rem;
        margin-left: 30%;
    }
}
